*{
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;

}
body{
	background-image: linear-gradient(to bottom, rgb(2, 171, 47), #376e45);
    background-repeat: no-repeat;
    background-attachment: fixed;
	height: 900px;
}
h1{
	text-align: center;
	font-size: 60px;
}
form{
	width: 80%;
	height: 600px;
	border-radius: 10px;
	
}
fieldset{
	margin-top: 100px;
	width: 90%;
	height: 850px;
	background-color: #d9d9d9;
	border-radius: 10px;
	border: none;
}
input{
	border: 0.2px solid rgba(0, 0, 0, 0.466);
	height: 40px;
}
#nome_cadastro{
	height: 40px;

	margin-top: 40px;
	margin-left: 50px;
	
	border-radius: 10px;
	text-align: center;

	font-size: 1rem;
}

#sobrenome_cadastro{
	height: 40px;
	width: 37%;

	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	border-radius: 10px;
	
	font-size: 1rem;
	text-align: center;
}
#email_cadastro{
	width: 80%;
	height: 40px;

	margin-left: 50px;
	border-radius: 10px;

	font-size: 1rem;
	text-align: center;
}

#cpf_cadastro{
	width: 84%;
	height: 40px;

	margin-left: 50px;
	margin-top: 10px;

	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
}

#usuario_cadastro{
	height: 40px;
	width: 30%;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 150px;
	margin-left: 50px;

	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
}

#senha_cadastro{
	height: 40px;
	width: 37%;
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
}

#cep_cadastro{
	width: 40%;
	height: 40px;
	margin-top: 10px;
	margin-left: 50px;
	border-radius: 10px;
	text-align: center;
}

#endereco_cadastro{
	width: 60%;
	height: 40px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
}

#numero_cadastro{
	width: 10%;
	height: 40px;
	margin-left: 20px;
	border-radius: 20px;
	text-align: center;
}

#titulo_plano_escolhido{
	margin-top: 40px;
	margin-bottom: 40px;
}
#planos_cadastro{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.botao_cadastro{
	width: 150px;
	height: 40px;
	border-radius: 20px;
	border: 0.2px solid rgba(0, 0, 0, 0.466);
}

.botao_cadastro:hover{
	background-color: rgb(2, 171, 47);
	color: white;
	transition: 0.5s all;
	border-radius: 20px;
	border: 0.2px solid rgba(0, 0, 0, 0.466);
}