@font-face{
    font-family: 'titulo';
    src: url('../components/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    
}

@font-face{
    font-family: 'paragrafos';
    src: url('../components/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 14px; /*width of the entire scrollbar*/
}

body::-webkit-scrollbar-track {
    background: #d8d8d8; /*cor de funda da barra*/
}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #499e60; /*cor do traço da de rolagem*/
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    background-color: #23BD4C;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
}

#logo1{
    width: 200px;
    height: 100px;
}

#logo{
    display: flex;
    text-decoration: none;
}

#logo h1{
    font-size: 25px;
    color: white;
}

#perfil{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 15px;
}

#perfil img{
    width: 100px;
    height: 100px;
    margin-top: -5px;
}

#nome{
    margin-top: 25px;
    margin-right: 50px;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
}

p{
    font-family: 'titulo', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'titulo', Arial, Helvetica, sans-serif;
}

.paragrafo{
    font-family: 'titulo', Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
}

#escolha{
    position: absolute;
    top: 280px;
    left: 900px;
    display: flex;
    flex-direction: column;
    height: 200px;
}

#Fatura{
    font-size: 20px;
}

#fatura1{
    font-size: 40px;
    font-weight: bold;
}

.cartoes{
    margin-top: 10px;
    width: 100px;
    position: relative;
}

.cartoes img{
    transition: all 0.5s ease;
    object-fit: cover;
}


#principal{
    width: 450px;
    height: 300px;
    margin-left: 360px;
    margin-top: 80px;
}

/*Configurando o cartão preto pra escondido padrão*/
#cartao-nubank {
    display: none;
}

#cartão_princ p{
    margin-left: 380px;
}

#cartão_princ button{
    margin-left: 370px;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #23BD4C;
    font-size: 20px;
    border: none;
    border-radius: 16px;
}

.icone{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 25px;
}


#limite{
    width: 600px;
    margin-left: 370px;
    margin-top: 30px;
}

#movimentaçao{
    background-image: url(../components/imagens/pagina-MeusCartoes/fundo_mov.png);
    background-size: cover;
   
    height: 1200px;
    margin-top: 80px;
}

#titulos1{
    margin-top: 120px;
    margin-left: -955px;
}

.titulos{
    margin-left: 100px;
}

#txtBusca{
    margin-left: 480px;
    margin-top: 15px;
    width: 400px;
    height: 45px;
    border-radius: 50px;
    border: 0 none;
    outline: 0;
    padding-left: 15px;
}

#background{
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.452);
    width: 740px;
    height: 790px;
    margin-left: 60px;
    margin-top: 110px;
    padding-top: 150px;
    float: left;
    border-radius: 20px;
}

#background h6{
    background-color: #bdc7bf;
    width: 160px;
    height: 28px;
    font-size: 15px;
    border-radius: 50px;
    padding-left: 10px;
    margin-top: -120px;
    margin-left: 30px;
}

.lançamentos{
    background-color: white;
    width: 650px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-top: -35px;
   justify-content: flex-start;
   padding: 10px;

    transition: all 0.2s;
}

.lançamentos:hover{
    background-color: #23BD4C;
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: white;

    transition: all 0.2s;
}

.pix{
    background-color: #bdc7bf;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    margin-left: 30px; 
    margin-top: 20px;
}

#pix1{
    width: 20px;
    height: 20px;
}

.compras{
    font-weight: bold;
}

.estabele{
    margin-top: -20px;
}

.valor{
    margin-left: 550px;
}


#anuncio{
    background-color: #bdc7bf;
    width: 500px;
    height: 623px;
    float: left;
    margin-left: 20px;
    margin-top: 110px;
    border-radius: 20px;
}

#anuncio h5{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

#foto{
    margin-top: 37px;
    margin-left: 90px;
}

.par{
    background-color: #EBEBEB;
    width: 220px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}








footer {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    }
    
    /* Estilizando a footer home */
    #footer-home {
        background-color: #233327;
        color: #fff;
        font-family: Arial;
    }
    
    /* Colocando as redes socias na footer */
    .redes-socias-home {
        width: 20%;
        height: 70px;
        display: flex;
        justify-content: space-between;
    }
    
    /* Redes socias da footer home  */
    #sociais {
        width: 30%;
        height: 70px;
    }

    /* carrossel*/
.container-personagens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 350px;
}

/* Estilos do carrossel */
.container {
    position: relative;
    margin: auto;
    width: 70%;
    overflow: hidden;
   
}

.carousel {
    display: flex;
    margin-bottom: -20px;
    width: 1220px;
    margin-top: 30px;
    margin-left: 10px;
    
}

.slide {
    flex: 0 0 auto;
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
}

.slide img {
    width: 310px;
    height: 180px;
    display: block;
}

.prev,
.next {
    position: absolute;
    transform: translateY(50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
    margin-left: 50px;
    margin-top: 60px;
}

.next {
    right: 0;
    margin-right: 40px;
    margin-top: 60px;
}

.hidden {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link{
    width: 400px;
    height: 200px;
    margin-left: 95px;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/*RESPONSIVO*/

@media only screen and (min-width: 1069px){
    @media only screen and (max-width: 1280px)
   {

    #header{
        margin-left: -140px;
    }

    #escolha{
        margin-left: -180px;
    }

    #limite{
        margin-left: 230px;
    }

    .titulos1{
        margin-right: -330px;
        font-size: 30px;
        position: relative;
    }

    #txtBusca{
        margin-left: -880px;
    }

    #background{
        width: 500px;
        height: 650px;
    }

    #anuncio{
        width: 400px;
        height: 600px;
    }

    #anuncio h5{
        font-size: 25px;
    }

    .lançamentos{
        font-size: 12px;
        width: 400px;
        height: 50px;
    }

    .valor{
        margin-left: 200px;
    }

    .estabele{
        margin-top: 0px;
    }

    
   }
}

@media only screen and (min-width: 980px){
    @media only screen and (max-width: 1068px)
   {
    #header{
        margin-left: -140px;
    }

    #escolha{
        margin-left: -180px;
    }

    #limite{
        margin-left: 230px;
    }

    .titulos1{
        margin-right: -330px;
        font-size: 30px;
        position: relative;
    }

    #txtBusca{
        margin-left: -880px;
    }

    #background{
        width: 500px;
        height: 650px;
    }

    #anuncio{
        width: 400px;
        height: 600px;
    }

    #anuncio h5{
        font-size: 25px;
    }

    .lançamentos{
        font-size: 12px;
        width: 400px;
        height: 50px;
    }

    .valor{
        margin-left: 200px;
    }

    .estabele{
        margin-top: 0px;
    }

    .redes-socias-home{
        margin-right: 70px;
    }

    #sociais{
        margin-left: 20px;
    }

    
   }
}

@media only screen and (min-width: 680px){
    @media only screen and (max-width: 979px)
   {

    #header{
        margin-left: -140px;
    }

    nav{
        height: 70px;
    }

    #perfil img{
        width: 50px;
        height: 50px;
    }

    #nome{
        font-size: 15px;
        margin-top: 10px;
    }

    #escolha{
        margin-left: -360px;
        top: 220px;
    }

    #cartão_princ button{
        width: 220px;
        height: 30px;
        font-size: 20px;
    }

    #Fatura{
        font-size: 20px;
        margin-top: 10px;
        margin-left: 00px;
    }

    #fatura1{
        font-size: 15px;
    }

    .cartoes{
        width: 60px;
    }

    #limite{
        display: none;
    }

    .titulos1{
        margin-right: -770px;
        font-size: 30px;
        position: relative;
    }

    #titulo{
        font-size: 25px;
    }

    #principal{
        width: 300px;
        height: 200px;
    }


    #txtBusca{
        margin-left: -480px;
        height: 40px;
        width: 320px;
    }


    #background{
        width: 500px;
        height: 650px;
        margin-left: 120px;
        clear: left;
    }

    #anuncio{
        display: none;
    }

    #anuncio h5{
        font-size: 25px;
    }

    .lançamentos{
        font-size: 12px;
        width: 400px;
        height: 50px;
    }

    .valor{
        margin-left: 200px;
    }

    .estabele{
        margin-top: 0px;
    }

    .redes-socias-home{
        margin-right: 110px;
    }

    #sociais{
        width: 70px;
        height: 70px;
        margin-left: 10px;
    }

    .slide{
        background-color: #23BD4C;
        width: 100px;
    }

    .slide img{
        width: 200px;
        height: 100px;
    }

    
   }
}

@media only screen and (min-width: 480px){
    @media only screen and (max-width: 679px)
   {

    #header{
        margin-left: -140px;
    }

    nav{
        height: 50px;
    }

    #perfil img{
        width: 40px;
        height: 40px;
    }

    #nome{
        font-size: 15px;
        margin-top: 10px;
    }

    #escolha{
        left: 142px;
        top: 130px;
        flex-wrap: wrap;
        width: 210px;
        height: 50px;
    }

    #cartão_princ{
        width: 635px;
    }

    #cartão_princ button{
        width: 120px;
        height: 30px;
        font-size: 20px;
        margin-left: 350px;
    }

    #Fatura{
        font-size: 20px;
        margin-top: 10px;
    }

    #fatura1{
        font-size: 15px;
    }

    .cartoes{
        width: 60px;
    }

    #limite{
        display: none;
    }

    .titulos1{
        margin-right: -870px;
        font-size: 30px;
        position: relative;
    }

    #titulo{
        font-size: 20px;
    }

    #principal{
        width: 250px;
        height: 150px;
        margin-left: 280px;
    }


    #txtBusca{
        margin-left: -390px;
        height: 40px;
        width: 320px;
    }


    #background{
        width: 400px;
        height: 520px;
        margin-left: 50px;
        clear: left;
    }

    #anuncio{
        display: none;
    }

    #anuncio h5{
        font-size: 25px;
    }

    .lançamentos{
        font-size: 12px;
        width: 320px;
        height: 50px;
    }

    .valor{
        margin-left: 220px;
    }

    .paragrafo{
        margin-right: 800px;
    }

    .estabele{
        margin-top: -20px;
    }

    .redes-socias-home{
        margin-right: 110px;
    }

    #sociais{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    #esconder, #imga, #esconder1, #imga1{
        display: none;
    }

    #movimentaçao{
        height: 800px;
    }

    .pix{
        margin-top: 20px;
    }

    
   }
}

@media only screen and (min-width: 360px){
    @media only screen and (max-width: 479px)
   {

    #header{
        margin-left: -140px;
    }

    nav{
        height: 50px;
    }

    #logo1{
        width: 80px;
        height: 40px;
    }
    
    #logo{
        display: flex;
        text-decoration: none;
    }
    
    #logo h1{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }

    #perfil img{
        width: 40px;
        height: 40px;
    }

    #nome{
        font-size: 10px;
        margin-top: 5px;
        margin-left: 100px;
    }

    #escolha{
        left: 85px;
        top: 130px;
        flex-wrap: wrap;
        width: 210px;
        height: 50px;
    }

    .icone{
        width: 25px;
        height: 25px;
        margin-top: 15px;
        margin-left: 15px;
    }

    #cartão_princ{
        width: 435px;
    }

    #cartão_princ button{
        width: 120px;
        height: 30px;
        font-size: 20x;
        margin-left: 350px;
    }

    #Fatura{
        font-size: 15px;
        margin-top: 10px;
        margin-left: -200px;
    }

    #fatura1{
        font-size: 15px;
        
    }

    .cartoes{
        width: 60px;
        margin-left: 10px;
    }

    #limite{
        display: none;
    }

    .titulos1{
        margin-right: -870px;
        font-size: 30px;
        position: relative;
    }

    #titulo{
        font-size: 15px;
    }

    #principal{
        width: 250px;
        height: 150px;
        margin-left: 220px;
    }


    #txtBusca{
        margin-left: -290px;
        height: 30px;
        width: 200px;
    }


    #background{
        width: 340px;
        height: 520px;
        margin-left: 10px;
        clear: left;
    }

    #anuncio{
        display: none;
    }

    #anuncio h5{
        font-size: 25px;
    }

    .lançamentos{
        font-size: 12px;
        width: 260px;
        height: 50px;
    }

    .valor{
        margin-left: 180px;
    }

    .paragrafo{
        padding-left: -500px;
    }

    .estabele{
        margin-top: -20px;
    }

    .redes-socias-home{
        margin-right: 110px;
    }

    #sociais{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    #esconder, #imga, #esconder1, #imga1{
        display: none;
    }

    #movimentaçao{
        height: 800px;
    }

    .pix{
        margin-top: 20px;
    }

    
   }
}



