@font-face{
    font-family: 'titulo';
    src: url('../components/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    
}
@font-face{
    font-family: 'paragrafos';
    src: url('../components/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'cabecalho-titulo';
    src: url('../components/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --plano-basico-color:  linear-gradient( 90deg, #23BD4C, #11a037 );
}

html{
    scroll-behavior: smooth; /* Esse atributo em css, faz com que a pagina rode mais lisa para os seus links*/
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 14px; /*width of the entire scrollbar*/
}

body::-webkit-scrollbar-track {
    background: #868686; /*cor de funda da barra*/
}

body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #11a037; /*cor do traço da de rolagem*/
}

/*CONFIGURAÇÕES GERAIS*/
h2 {
    font-size: 64px;
}
.titulos{
    font-family: 'titulo';
}
.paragrafo{
    font-family: 'paragrafos';
    font-weight: bold;
}
/* HEADER */

header {
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    background-color: #23BD4C;
}
header h1{
   color: white;
   width: 250px;
   height: 60px;
   text-align: center;
   font-family: 'cabecalho-titulo', 'titulos', Arial, Helvetica, sans-serif;
   font-size: 45px;
}

header button {
    width: 160px;
    height: 40px;
    margin-right: 30px;

    border: none;
    border-radius: 28px;
    background-color: #82ff05;
    color: black;

    transition: all 0.5s;
}
header button a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
header button:hover{
    background-color: black;
    color: white;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.342);
    transition: all 0.5s;
}
#logo{
    width: 280px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}
#logo img{
    width: 50%;
    height: 75%;
}
#navegador_home {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10%;
}
header nav{
    height: 60px;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a {
    text-decoration: none;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'paragrafos', Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}
header nav a:hover{
    transform: scale(1.2);
    color: black;
}
/* CONFIG DA MAIN */
main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* SEÇÃO PRINCIPAL HOME */
#Home_main-section {
    position: relative;

    display: flex;
    align-items: center;
    
    width: 100%;
    height: 90vh;
    padding-left: 15px;

    background-image: url(../components/images/home-images/home-main-img.png);
    background-size: cover;
}

/* Caixa que contém todo o conteúdo da primeira section principal (h1 e botão) */
#Home_main-section #conteudo-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    width: 40%;
    height: 45%;
    padding-left: 15px;
}

#Home_main-section #conteudo-main h1{
    font-size: 2.5rem;
    font-weight: normal;
}

#Home_main-section #conteudo-main button{
    width: 50%;
    padding: 15px 0;

    font-size: 1.5rem;
    
    border: none;
    border-radius: 15px;
    background-color: #23BD4C;
    color: white;

    margin-top: 20px;
    transition: all 0.5s;
}
#cadstro_home{
    margin-top: 20px;
}
#Home_main-section #conteudo-main button:hover{
    background-color: black;
    color: white;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.342);
    transition: all 0.5s;
}


/* SEÇÃO DOS CARTÕES */
#Cartoes-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80vh;
    padding: 20px;

    background-color: #02ab2f9c;
}

#Cartoes-section img {
    width: 500px;
    height: auto;
}

#Cartoes-section .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;
    height: 65%;
}

#Cartoes-section .content-box p {
    width: 80%;
    margin-top: 10px;

    font-size: 22px;
}

#cartao {
    visibility: hidden;
    margin-left: 60px;
}


/* SEÇAO DE BENEFICIOS */
#section-beneficios {
    width: 100%;
    height: 110vh;
    margin-top: 80px;
}

#section-beneficios h1 {
    font-size: 56px;
    text-align: center;
}

#section-beneficios .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

#section-beneficios .box {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 30px;
    background-color: #6BFF5Fdd;
}

#celular {
    position: absolute;
    top: 1740px;
    left: 620px;
}

#notebook {
    position: absolute;
    left: 800px;
}

#section-beneficios #caixa1 {
    width: 679px;
    height: 396px;
    padding: 25px;

    box-shadow: 0 1px 4px #baeabf25;
}

#section-beneficios #caixa1 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 65%;
    font-size: 25px;
    list-style: none;
}

#bank {
    width: 376px;
    height: 376px;
    margin-right: 12%;
}

#section-beneficios button {
    width: 450px;
    padding: 39px 51px;
    
    color: white;
    font-size: 32px;
    
    border: none;
    border-radius: 15px;
    background-color: #02AB2F;
    box-shadow: 1px 1px 4px #baeabf;
}

#section-beneficios #caixa2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    
    width: 656px;
    height: 287px;
    padding: 25px;

    border-top-left-radius: 100px;

    box-shadow: 0 1px 15px #baeabf2d;
}

#section-beneficios #caixa2 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 65%;
    font-size: 25px;
    list-style: none;
    text-align: right;
}
.botao_acessar{
    width: 100%;
}

/*ESTILIZANDO OS BOTÕES DAS SECTIONS*/
#membro{
    width: 370px;

    font-weight: bold;
    font-size: 25px;

    transition: all 0.5s;
    cursor: pointer;
}

/* SESSÃO DOS NOSSOS PARCEIROS */

/* SLIDE DOS BANCOS */
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}

#nossos_parceiros{
    display:flex ;
    align-items: center;

    width: 100%;
    height: 300px;
    padding: 60px 0;

    overflow: hidden;
    white-space: nowrap;
    background-color: #02AB2F;
}

/* Ajuste da tipografia dos bancos */
#nossos_parceiros h1{
    color: #fff;
    font-family: Arial;
}

.bancos-parceiros{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    height: 200px;
    
    animation: 8s slide infinite linear; 
}

.banco{
    width: 25%;
    height: 200px;
    margin: 0 20px;
}

/* Ajuste da imagem dos bancos */
.banco img{
    height: 100%;
}

/* SESSÃO DE CONHEÇA NOSSOS PLANOS */
#conheca_nossos_planos_section{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#conheca_nossos_planos_section h2 {
    margin-top: 100px;
}

.planos {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5%;
    
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-top: 80px;
  }

  
/* Ajuste dos planos */
.planos > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 28%;
    height: 100%;
}

.basic-bg {
    background: linear-gradient( 90deg, #23BD4C, #11a037 );
}

.plus-bg {
    background: linear-gradient( 90deg, #82ff05, #6ddd14 );
}        

.ultra-bg {
    background: linear-gradient( 90deg, #fff500, #bcb501 );
}

.plano-titulo{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;   
}

.conteudo-plano {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    height: 90%;
    margin: 0 5px;

    background-color: #ffffff;
}

.conteudo-plano span {
    width: 100%;
    height: auto;
    margin-top: 30px;

    font-size: 44px;
    font-weight: bold;
}

.conteudo-plano ul {
    width: 90%;
    margin: auto;
}

.conteudo-plano ul li {
    display: flex;
    flex-direction: row;
    gap: 15%;
    
    width: 100%;
    padding: 15px;
    padding-right: 0;
    
    font-size: 26px;
    color: rgba(0, 0, 0, 0.752);
}

/* Ajuste das imagens dos planos */
.conteudo-plano ul li img {
    width: 32px;
    height: 100%;
}

.conteudo-plano ul li p {
    width: 100%;
    text-align: start;
}

/* Estilizando os botões dos planos */
.button-acessar {
    width: 100%;
    height: 80px;
    font-size: 40px;

    color: #fff;
    border: none;
}

#button-basic {
 background: linear-gradient( 90deg, #23BD4C, #11a037 );
}

#button-plus {
    background: linear-gradient( 90deg, #82ff05, #6ddd14 );
}

#button-ultra {
    background: linear-gradient( 90deg, #fff500, #bcb501 );
}

/* SESSÃO DO ENTRE EM CONTATO */
#Entre_em_contato-section {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

#Entre_em_contato-section h2 {
    font-size: 64px;
    font-weight: 300;
    margin-top: 2%;
}

/* Estilizando o forms da página da home */
#formulario {
    width: 90%;
    height:600px ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.caixa-item-form {
    width: 90%;
    height: 12%;
    display: flex;
    justify-content: space-between;

}

.campo_input {
    padding: 15px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.44);
    width: 45%;
    height:100%;
    font-size: 1rem;
    border: 0.2px solid rgba(0, 0, 0, 0.466);
    color: black;
}


#deixe-sua-mensagem {
    border: 0.2px solid rgba(0, 0, 0, 0.466);
    border-radius: 10px;
    width: 90%;
    font-size: 1rem;
    padding: 10px;
    resize: none;
}

.clique:hover{
    cursor: text;
    font-size: 1.2rem;
    transition: all 0.2s;
}





/* SESSÃO DE QUEM SOMOS */

#dev_home{
    text-align: center;
    margin-top: 50px;
    font-size: 30pt;
}
#sobre_nos_section {
    width: 100%;
    height: 450px;
    background-color: #23BD4C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

#sobre_nos_section a {
    margin-top: 35px;
}

.foto{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    padding: 15px;
    gap: 10px;

}

  /*O recipiente do cartão flip - defina a largura e a altura como desejar. */
  
.flip-card{
    width: 250px;
    height: 350px;
    border-radius: 20px; 
}
  
  /* Este contêiner é necessário para posicionar a frente e o verso */
.flip-card-interna {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    
    border-radius: 20px;

    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.363);
}
  
  /* Faça um giro horizontal ao mover o mouse sobre o contêiner da caixa de virar */
.flip-card:hover .flip-card-interna {
    transform: rotateY(180deg);
}
  
  /* Posicione a frente e o verso */
.flip-card-frente, .flip-card-costas {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
    border-radius: 20px;
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.363);
}
  
.flip-card-frente img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
 /*Estilize a parte de trás */
.flip-card-costas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #02AB2F;
    color: black;
    transform: rotateY(180deg);
    border-radius: 20px;
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.363) ;
}
.flip-card-costas h1 {
    font-size:25px;
    margin-bottom: 30px;
  
}
.flip-card-costas p {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    padding: 0px;
}



/* FOOTER DA PÁGINA HOME */
footer {
width: 100%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
}

/* Estilizando a footer home */
#footer-home {
    background-color: #233327;
    color: #fff;
    font-family: Arial;
}

/* Colocando as redes socias na footer */
.redes-socias-home {
    width: 20%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

/* Redes socias da footer home  */
#sociais {
    width: 30%;
    height: 70px;
}

/* -=-= TELAS RESPONSIVO -=-=*/

/*4K*/
@media screen and (max-width: 2560px) and (min-width: 1921px) {

    #section-beneficios {
        width: 100%;
        height: 140vh;
        margin-top: 80px;
    }
    

    #celular {
        top: 1490px;
        left: 750px;
    }
    
    #notebook {
        left: 1270px;
    }
}

/* Macbook PRO */
@media screen and (max-width: 1440px){

    #Home_main-section #conteudo-main {
        width: 45%;
        height: 38%;
    }
    
    #Home_main-section #conteudo-main h1{
        font-size: 2rem;
    }

    #Cartoes-section img {
        width: 450px;
        height: auto;
    }
    
    #Cartoes-section .content-box {
        width: 60%;
        height: 65%;
    }

    #Cartoes-section .content-box h2 {
        width: 100%;
        font-size: 50px;
    }
    
    #Cartoes-section .content-box p {
        width: 90%;
        font-size: 20px;
    }
    
    #cartao {
        visibility: hidden;
        margin-left: 10px;
    }

    #celular {
        top: 1650px;
        left: 450px;
    }

    #notebook {
        left: 450px;
    }

    #section-beneficios #caixa1 {
        width: 620px;
        height: 350px;
    }

    #section-beneficios #caixa1 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 22px;
    }

    #section-beneficios #caixa2 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 22px;
    }
    

    #section-beneficios button {
        width: 350px;
        padding: 29px 46px;
        
        color: white;
        font-size: 30px;
        
        border: none;
        border-radius: 15px;
        background-color: #02AB2F;
        box-shadow: 1px 1px 4px #baeabf;
    }

    .conteudo-plano ul li {
        font-size: 20px;    }
    
}

/* Next Hub Max */
@media screen and (max-width: 1280px){

    #Cartoes-section .content-box h2 {
        font-size: 45px;
    }
    
    #Cartoes-section .content-box p {
        font-size: 16px;
    }

    #celular {
        top: 1520px;
        left: 410px;

        width: auto;
        height: 460px;
    }

    #notebook {
        left: 450px;

        width: auto;
        height: 320px;
    }

    #bank {
        width: auto;
        height: 330px;
    }

    #section-beneficios #caixa1 {
        width: 540px;
        height: 320px;
    }

    #section-beneficios #caixa1 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 20px;
    }

    #section-beneficios #caixa2 {
        width: 540px;
        height: 250px;
    }

    #section-beneficios #caixa2 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 20px;
    }
    

    #section-beneficios button {
        width: 350px;
        padding: 20px 38px;
        
        color: white;
        font-size: 26px;
        
        border: none;
        border-radius: 15px;
        background-color: #02AB2F;
        box-shadow: 1px 1px 4px #baeabf;
    }

    #conheca_nossos_planos_section{
        height: 890px;
    }

    .conteudo-plano span {
        font-size: 35px;
    }

    .conteudo-plano ul li {
        font-size: 16px;    
    }

    .flip-card{
        width: 220px;
        height: 300px;
        border-radius: 20px; 
    }
}

/*Next hub*/
@media screen and (max-width: 1024px) and (max-height: 600px) {

    header {
        justify-content: space-around;
        height: 10vh;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header #logo img {
        height: 50px;
    }

    header #logo h1 {
        width: 200px;
        height: auto;
        text-align: left;
        font-size: 30px;
    }

    header #navegador_home {
        width: 60%;
        gap: 5%
    }

    header #navegador_home nav {
        width: 100%;
        gap: 2%;
    }

    header #navegador_home nav a {
        width: auto;
        height: auto;
        font-size: 16px;
    }

    #Home_main-section {
        height: 80vh;
    }

    #Home_main-section #conteudo-main .titulos {
        font-size: 20px;
    }

    #Home_main-section #conteudo-main button {
        padding: 10px 20px;
        font-size: 18px;
    }

    #Cartoes-section {
        height: 60vh;

    }

    #Cartoes-section #cartao {
        width: 280px;
    }

    #Cartoes-section .content-box .titulos {
        font-size: 35px;
    }

    #Cartoes-section .content-box .paragrafo {
        width: 95%;
        font-size: 14px;
    }

    #section-beneficios {
        height: 150vh;
    }

    #section-beneficios .container {
        margin-top: 50px;
    }

    #section-beneficios .container #caixa1 {
        width: 460px;
        height: 270px;
    }

    #section-beneficios .container #caixa1 ul li{
        font-size: 18px;
    }

    #celular {
        top: 160%;
        left: 350px;

        height: 380px;
    }

    #bank {
        height: 250px;
    }

    #notebook {
        height: 260px;
        left: 350px;
    }

    #section-beneficios .container #caixa2 {
        width: 460px;
        height: 200px;
    }

    #section-beneficios .container #caixa2 ul{
        justify-content: center;
    }

    #section-beneficios .container #caixa2 ul li{
        font-size: 16px;
    }

    #conheca_nossos_planos_section{
        height: 790px;
    }

    #sobre_nos_section a{
        width: 180px;
        height: 250px;
    }

    #sobre_nos_section .foto .flip-card {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1080px) and (min-height: 2340px) {
    #Home_main-section {
        height: 25vh;
    }

    #Home_main-section #conteudo-main .titulos {
        font-size: 20px;
    }

    #Home_main-section #conteudo-main button {
        padding: 10px 20px;
        font-size: 18px;
    }

    #Cartoes-section {
        height: 20vh;
    }

    #Cartoes-section #cartao {
        width: 280px;
    }

    #Cartoes-section .content-box .titulos {
        font-size: 35px;
    }

    #Cartoes-section .content-box .paragrafo {
        width: 95%;
        font-size: 14px;
    }

    #section-beneficios {
        height: 32vh;
    }

    #section-beneficios .container {
        margin-top: 50px;
    }

    #section-beneficios .container #caixa1 {
        width: 460px;
        height: 270px;
    }

    #section-beneficios .container #caixa1 ul li{
        font-size: 18px;
    }

    #celular {
        top: 50%;
        left: 360px;

        height: 380px;
    }

    #bank {
        height: 250px;
    }

    #notebook {
        height: 260px;
        left: 350px;
    }

    #section-beneficios .container #caixa2 {
        width: 460px;
        height: 200px;
    }

    #section-beneficios .container #caixa2 ul{
        justify-content: center;
    }

    #section-beneficios .container #caixa2 ul li{
        font-size: 16px;
    }

    #section-beneficios .container button{
        font-size: 23px;

        width: 280px;
    }

    #conheca_nossos_planos_section{
        height: 790px;
    }

    #sobre_nos_section a{
        width: 180px;
        height: 250px;
    }

    #sobre_nos_section .foto .flip-card {
        width: 100%;
        height: 100%;
    }
}

/*IPad Pro*/
@media screen and (max-width: 1024px) and (min-height: 1366px) {
    /* SEÇÃO PRINCIPAL HOME */

    header {
        justify-content: space-around;
        height: 6vh;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header #logo img {
        height: 50px;
    }

    header #logo h1 {
        width: 200px;
        height: auto;
        text-align: left;
        font-size: 30px;
    }

    header #navegador_home {
        width: 60%;
        gap: 5%
    }

    header #navegador_home nav {
        width: 100%;
        gap: 2%;
    }

    header #navegador_home nav a {
        width: auto;
        height: auto;
        font-size: 16px;
    }

    #Home_main-section {
        height: 40vh;
    }

    #Home_main-section #conteudo-main {
        width: 45%;
        height: 50%;
    }
    
    #Home_main-section #conteudo-main h1{
        margin-top: 70px;
        font-size: 1.5rem;
    }

    #Cartoes-section {
        height: 30vh;
    }

    #Cartoes-section img {
        width: 300px;
    }

    #Cartoes-section .content-box h2 {
        font-size: 32px;
    }
    
    #Cartoes-section .content-box p {
        font-size: 12px;
    }

    #section-beneficios {
        height: 63vh;
    }

    #celular {
        top: 79%;
        left: 343px;

        width: auto;
        height: 380px;
    }

    #notebook {
        left: 320px;

        width: auto;
        height: 260px;
    }

    #bank {
        width: auto;
        height: 260px;
    }

    #section-beneficios #caixa1 {
        width: 470px;
        height: 280px;
    }

    #section-beneficios #caixa1 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 17px;
    }

    #section-beneficios #caixa2 {
        width: 480px;
        height: 200px;
    }

    #section-beneficios #caixa2 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 16px;
    }
    

    #section-beneficios button {
        width: 260px;
        padding: 13px 24px;
        
        color: white;
        font-size: 20px;
        
        border: none;
        border-radius: 15px;
        background-color: #02AB2F;
        box-shadow: 1px 1px 4px #baeabf;
    }

    #conheca_nossos_planos_section{
        height: 820px;
    }

    .conteudo-plano span {
        font-size: 32px;
    }

    .conteudo-plano ul li {
        font-size: 13px;    
    }

    .flip-card{
        width: 170px;
        height: 250px;
        border-radius: 20px; 
    }
}

/*Surface Pro 7*/
@media screen and (max-width: 912px) {

    header {
        justify-content: space-around;
        height: 6vh;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header #logo img {
        height: 50px;
    }

    header #logo h1 {
        width: 200px;
        height: auto;
        text-align: left;
        font-size: 30px;
    }

    header #navegador_home {
        width: 75%;
        gap: 5%
    }

    header #navegador_home nav {
        width: 100%;
        gap: 2%;
    }

    header #navegador_home nav a {
        width: auto;
        height: auto;
        font-size: 16px;
    }

    #Cartoes-section #cartao {
        margin: 0;
    }

    #celular {
        left: 340px;
    }

    #bank {
        margin: 0;
    }

    #notebook {
        left: 290px;
        height: 220px;
    }

    #section-beneficios #caixa1 {
        width: 400px;
    }

    #section-beneficios #caixa2 {
        width: 430px;
        height: 190px;
    }

    #sobre_nos_section {
        height: 35vh;
    }

    #sobre_nos_section a{
        height: 250px;
    }

    #sobre_nos_section .flip-card{
        margin-top: 0;
    }

}

/*Asus Zenbook Fold*/
@media screen and (max-width: 853px) {
    header {
        justify-content: space-between;
        height: 4vh;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header #logo img {
        height: 50px;
    }

    header #logo h1 {
        width: 200px;
        height: auto;
        text-align: left;
        font-size: 25px;
    }

    header #navegador_home {
        width: 80%;
        gap: 5%
    }

    header #navegador_home nav {
        width: 100%;
        gap: 2%;
    }

    header #navegador_home nav a {
        width: auto;
        height: auto;
        font-size: 14px;
    }

    header #navegador_home button {
        width: 140px;
        height: 35px;
        padding: 5px 10px;
        font-size: 14px;
    }

    #Home_main-section {
        height: 40vh;
    }

    #Home_main-section #conteudo-main {
        width: 45%;
        height: 50%;
    }

    #Home_main-section #conteudo-main  button {
        width: 200px;
        height: 45px;
        padding: 5px 10px;
        font-size: 18px;
    }
    
    #Home_main-section #conteudo-main h1{
        margin-top: 70px;
        font-size: 1.2rem;
    }

    #Cartoes-section {
        height: 30vh;
    }

    #Cartoes-section img {
        width: 300px;
    }

    #Cartoes-section .content-box .titulos {
        font-size: 28px;
    }
    
    #Cartoes-section .content-box .paragrafo {
        font-size: 13px;
    }

    #section-beneficios {
        height: 63vh;
    }

    #celular {
        top: 83%;
        left: 310px;

        width: auto;
        height: 380px;
    }

    #notebook {
        left: 230px;

        width: auto;
        height: 230px;
    }

    #bank {
        width: auto;
        height: 260px;
    }

    #section-beneficios .container #caixa1 {
        width: 423px;
        height: 280px;
    }

    #section-beneficios #caixa1 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 65%;
        font-size: 17px;
    }

    #section-beneficios .container #caixa2 {
        width: 420px;
        height: 180px;
        padding: 0;
    }

    #section-beneficios .container #caixa2.box {
        padding: 20px;
    }

    #section-beneficios .container #caixa2 ul li {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        width: 100%;
        font-size: 15px;
    }
    

    #section-beneficios button {
        width: 200px;
        padding: 15px 24px;
        
        color: white;
        font-size: 18px;
        
        border: none;
        border-radius: 15px;
        background-color: #02AB2F;
        box-shadow: 1px 1px 4px #baeabf;
    }

    #sobre_nos_section .foto a {
        height: 100px;
    }
}

/*IPad Mini*/
@media screen and (max-width: 768px) {

}

/* IPhone 14 Pro Max */
@media screen and (max-width: 430px) {
    header {
        justify-content: space-between;
        height: 6vh;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header #logo img {
        height: 35px;
    }

    header #logo h1 {
        width: 120px;
        height: auto;
        text-align: left;
        font-size: 15px;
    }

    header #navegador_home {
        width: 100%;
        gap: 70px;
    }

    header #navegador_home nav {
        width: 100%;
        gap: 20%;
    }

    header #navegador_home nav a {
        width: auto;
        height: auto;
        font-size: 8px;
    }

    header #navegador_home button {
        width: 80px;
        height: 20px;
        padding: 3px 6px;
        font-size: 8px;
    }

    #Home_main-section {
        height: 25vh;
    }

    #Home_main-section #conteudo-main {
        width: 45%;
        height: 50%;
    }

    #Home_main-section #conteudo-main h1{
        margin-top: 40px;
        font-size: 0.5rem;
    }

    #Home_main-section #conteudo-main  button {
        width: 80px;
        height: 15px;
        padding: 5px 10px;
        font-size: 7px;
    }
    
    #Cartoes-section {
        height: 20vh;
    }

    #Cartoes-section img {
        width: 120px;
    }

    #Cartoes-section .content-box .titulos {
        font-size: 16px;
    }
    
    #Cartoes-section .content-box .paragrafo {
        width: 100%;
        font-size: 8px;
    }

    #section-beneficios {
        height: 45vh;
        margin-top: 20px;
    }

    #section-beneficios h1 {
        font-size: 26px;
        margin-top: 0;
    }

   .titulos {
    font-size: 20px;
   }

    #section-beneficios .container {
        margin-top: 50px;
    }

    #celular {
        top: 52%;
        left: 135px;

        width: auto;
        height: 210px;
    }

    #notebook {
        margin-top: 6px;
        left: 115px;

        width: auto;
        height: 110px;
    }

    #bank {
        width: auto;
        height: 130px;
    }

    #section-beneficios .container #caixa1 {
        width: 200px;
        height: 150px;
    }

    #section-beneficios #caixa1 ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        width: 65%;
        font-size: 8px;
    }

    #section-beneficios .container #caixa2 {
        width: 200px;
        height: 95px;
        padding: 0;
    }

    #section-beneficios .container #caixa2.box {
        padding: 10px;
    }

    #section-beneficios .container #caixa2 ul {
        gap: 8px;

        width: 100%;

    }

    #section-beneficios .container #caixa2 ul li {
        width: 100%;
        font-size: 8px;
    }
    

    #section-beneficios button {
        width: 100px;
        padding: 5px 10px;

        font-size: 10px;
    }

    #conheca_nossos_planos_section {
        height: auto;
    }

    #conheca_nossos_planos_section .titulos {
        margin-top: 20px;
    }

    #conheca_nossos_planos_section .planos {
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 20px;
    }

    #conheca_nossos_planos_section .planos > div {
        width: 45%;
    }

    #conheca_nossos_planos_section .planos .plano-titulo {
        font-size: 20px;
        height: auto;
    }

    #conheca_nossos_planos_section .planos .plano-titulo h3 {
        margin: 10px 0;
    }

    #conheca_nossos_planos_section .planos .conteudo-plano span {
        font-size: 22px;
        margin: 10px 0;
    }

    #conheca_nossos_planos_section .planos .conteudo-plano ul li {
        font-size: 10px;
        padding: 5px;
    }

    #conheca_nossos_planos_section .planos .conteudo-plano ul li img {
        width: 10px;
    }

    #conheca_nossos_planos_section .planos .conteudo-plano .button-acessar {
        width: 100%;
        height: 30px;
        font-size: 18px;
    }

    #Entre_em_contato-section {
        margin-top: 30px;
        height: auto;
    }

    #Entre_em_contato-section .titulos {
        font-size: 25px;
    }

    #Entre_em_contato-section #formulario .caixa-item-form {
        height: auto;
    }

    #sobre_nos_section {
        height: auto;
    }

    #sobre_nos_section .foto {
        width: 100%;
        height: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    #sobre_nos_section .foto a {
        width: 45%;
        height: 250px;
    }

    #sobre_nos_section .foto a .flip-card {
        width: 100%;
        height: 100%;
    }

    #footer-home .redes-socias-home {
        width: auto;
    }
}

/* IPhone XR */
@media screen and (max-width: 414px) {
    #Cartoes-section .content-box .titulos {
        font-size: 14px;
    }
    
    #Cartoes-section .content-box .paragrafo {
        width: 100%;
        font-size: 7px;
    }

    #section-beneficios {
        height: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #dev_home {
        font-size: 28px
    }
}

/* IPhone 12 Pro */
@media screen and (max-width: 390px) {
    #section-beneficios {
        height: auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #celular {
        top: 53%;
        left: 120px;
    }

    #bank {
        height: 100px;
    }

    #notebook {
        height: 95px;
        left: 110px;
    }
}


/* Galaxy Fold */
@media screen and (max-width: 280px) {
    header {
        justify-content: space-between;
        gap: 20%;
        height: 6vh;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    header #navegador_home nav {
        display: none;
    }

    #Home_main-section {
        height: 25vh;
    }

    #Home_main-section #conteudo-main {
        width: 50%;
        height: 50%;
    }

    #Home_main-section #conteudo-main h1{
        margin-top: 40px;
        font-size: 0.4rem;
    }
    
    #Cartoes-section {
        height: 20vh;
    }

    #Cartoes-section img {
        width: 95px;
    }

    #Cartoes-section .content-box .titulos {
        font-size: 9px;
    }
    
    #Cartoes-section .content-box .paragrafo {
        width: 100%;
        font-size: 5px;
    }

    #section-beneficios {
        height: auto;
        margin-top: 20px;
    }

    #section-beneficios h1 {
        font-size: 20px;
        margin-top: 0;
    }

   .titulos {
    font-size: 20px;
   }

    #section-beneficios .container {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    #celular {
        top: 53%;
        left: 140px;

        width: auto;
        height: 210px;
    }

    #notebook {
        margin-top: 6px;
        left: 0;

        width: auto;
        height: 80px;
    }

    #bank {
        display: none;
    }

    #section-beneficios .container #caixa1 {
        width: 200px;
        height: 150px;
    }

    #section-beneficios #caixa1 ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
        width: 65%;
        font-size: 8px;
    }

    #section-beneficios .container #caixa2 {
        width: 200px;
        height: 95px;
        padding: 0;
    }

    #section-beneficios .container #caixa2.box {
        padding: 10px;
    }

    #section-beneficios .container #caixa2 ul {
        gap: 8px;

        width: 100%;

    }

    #section-beneficios .container #caixa2 ul li {
        width: 100%;
        font-size: 8px;
    }
    

    #section-beneficios button {
        width: 100px;
        padding: 5px 10px;

        margin-top: 30px;
        font-size: 10px;
    }
}

