*{
    font-family: Arial, Helvetica, sans-serif;

}
#login-container{
    background-color: rgb(9, 135, 135);
    width: 80%;
    height: 500px;
    background-color: #d9d9d9;
}

body{
    

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 15vh;

    background-image: linear-gradient(to bottom, rgb(2, 171, 47), #376e45);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
form {
  
  width: 50%;
  margin-left: 470px;
  height: 400px;
  

}
form h1{
    text-align: center;
}


#login-usuario{
   margin-bottom: 40px;
   border: 0.2px solid rgba(0, 0, 0, 0.363);
   margin-top: 10px;
   height: 40px;

   border-radius: 30.5px;
}

#login-senha{
    margin-bottom: 2px;
    border: 0.2px solid rgba(0, 0, 0, 0.363);
    margin-top: 10px;
    height: 40px;
 
    border-radius: 30.5px;
}

#botao-login{
    width: 140px;
    height: 40px;
    margin-right: 95.5px;
    border-radius: 30.5px;
    margin-top: 30px;

    border: 0.2px solid rgba(0, 0, 0, 0.363);
    background-color: #e3e4e200;

    cursor: pointer;

}

#botao-login:hover{
    background-color: #1a3321d3;
    color: white;
    transition: all 0.3s;
    border: none;
}


#cadastro-login{
    
    width: 140px;
    height: 40px;
    border-radius: 30.5px;

    border: 0.2px solid rgba(0, 0, 0, 0.363);
    background-color: #e3e4e200;
}
#cadastro-login:hover{
    background-color: #1a3321d3;
    color: white;
    transition: all 0.3s;
    border: none;
}
#retangulo-login{
    position: absolute;

    width: 32%;
    height: 500px;

    z-index: 1; 

}

#retangulo-login img{
    width: 90%;
    height: 100%;
   
}

#logo-login{
    
    position: absolute;

    width: 20%;
    z-index:2;

    top: 180px;
    text-align: center;
    color: white;
    left: 170px;
}

#logo-login img{
    width: 100%;
    height: 100%;


}
a{  
    
    text-decoration: none;
    color: black;
}
