*{
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;

}
body{
	background-color: #233327;
	height: 900px;
}
h1{
	text-align: center;

}
form{
	width: 80%;
	height: 600px;
	border-radius: 10px;
	
}
fieldset{
	margin-top: 100px;
	width: 85%;
	height: 770px;
	background-color: white;
	border-radius: 10px;
	border: 0.1px solid black;
}
input{
	border: 0.1px solid black;
	height: 40px;
}
#nome_cadastro{
	height: 50px;
	width: 30%;
	margin-top: 80px;
	margin-bottom: 30px;
	margin-right: 150px;
	margin-left: 50px;
	border-radius: 10px;
}
#sobrenome_cadastro{
	height: 50px;
	width: 35%;
	margin-top: 80px;
	margin-bottom: 30px;
	border-radius: 10px;
	
}
#email_cadastro{
	width: 84%;
	height: 50px;
	margin-left: 50px;
	border-radius: 10px;
}

#cpf_cadastro{
	width: 84%;
	height: 50px;
	margin-left: 50px;
	margin-top: 30px;
	border-radius: 10px;
}

#usuario_cadastro{
	height: 50px;
	width: 30%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 150px;
	margin-left: 50px;
	border-radius: 10px;
}

#senha_cadastro{
	height: 50px;
	width: 35%;
	margin-top: 30px;
	border-radius: 10px;
}

#cep_cadastro{
	width: 40%;
	height: 50px;
	margin-top: 20px;
	margin-left: 50px;
	border-radius: 10px;
}

#endereco_cadastro{
	width: 60%;
	height: 50px;
	margin-left: 50px;
	margin-top: 30px;
	border-radius: 10px;
}

#numero_cadastro{
	width: 10%;
	height: 50px;
	margin-left: 20px;
	border-radius: 10px;
}

#titulo_plano_escolhido{
	margin-top: 40px;
}
#planos_cadastro{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.botao_cadastro{
	width: 150px;
	height: 50px;
	border-radius: 8px;
}

.botao_cadastro:hover{
	background-color: #233327;
	color: white;
	transition: 0.5s all;
	border-radius: 8px;
}